<div class="container">

  <h1>Edit your article</h1>

  <%= render 'form', article: @article %>

  <%= link_to(articles_path) do %>
    <i class="fa fa-undo" aria-hidden="true"></i>
    <p>Back to index</p>
  <% end %>


</div>
