<div class="navbar-wagon">

  <div class="text-left">
  <h6>Wikinimous</h6>
  </div>


  <%= link_to(new_article_path) do %>

    <div class="text-right">
    <h6>New article</h6>
    </div>
  <% end %>

</div>
